body {
	font: 10pt "Trebuchet MS";
    background-color: #780000;
	color: #d1d1d1;
    margin: 0px 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #454545;
}

a:active {
    color: #a3a3a3;
}

#header h1{
    margin-left: 15px;
    color: #f1f1f1;

}
#content{
    background-color: #e2e2e2;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 10px 15px;
    padding: 5px;
    min-height: 400px;
    color: #444444;
}

#spacer{
    clear: both;
}

#footer{
    clear: both;
    text-align: right;
    margin: 5px 15px;
}
#footer a{
    color: white;
}

h1{
    margin: 10px 0px;
}

/** menu **/
.menu, .menu ul 
{
    font: 10pt "Monospace";
    margin: 0px;
    padding: 0px;

}

.menu li{
    margin: 0px 5px;
    padding: 0px;

}

.menu li a{
	color: #dedede;
    padding: 5px;
}

.menu li.selected a{
	color: #343434;
}

.menu > li.selected{
    background-color: white;
}

/* 1st lvl */
.menu{
    margin: 2px 15px;
    list-style-type: none;
    border-bottom: 2px solid white;
}

.menu >li{
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    background-color: red;
}

.menu >li:hover{
    background-color: white;
}

.menu >li:hover a{
	color: #343434;
}

/* 2nd lvl menus */

.menu li ul{
    top: 25px;
    left: 0px;
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px 2px;
    background-color: white;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.menu li:hover ul{
    display: block;
    list-style-type: disc;
}

.menu li ul li{
    font-size: 9pt;
    margin: 2px 0px 2px 20px;

}
.menu li ul a{
    color: black;
}
