body {
	font-size: 11pt;
	font-family: Arial;
	margin: 10px 50px;
}

/* General classes */
.error{
    color: red;
}

/* Execption / Error title */
div.exception, div.error {
	font-size: 14pt;
	font-weight: bold;
}

div.exception .type {
	color: red;
}

div.exception .message {
	display: block;
	color: #545454;
	font-style: italic;
	margin-top: 5px;
}

div.exception .message:before,div.exception .message:after {
	content: '"';
}

div.error span.error-code {
	padding: 0px 4pt;
	color: green;
}

div.error span.error-code:before {
	content: '[';
}

div.error span.error-code:after {
	content: ']';
}

div.error span.message {
	color: red;
}

/* vardump */
.vardump{
    display: none;
    position: fixed;
    width: 20%;
    right: 15px;
    top: 20px;
    bottom: 20px;
    overflow: auto;
    padding: 4px;   
	border: 1px solid #78a395;
	background-color: #efefef;
/*	font-family: "Courier New";
	font-weight: bold;
	font-size: 10pt;*/
}

.vardump .title{
    font-weight: bold;
}

.vardump table{
    width: 100%;
    border-spacing: 0px;
}

.vardump table tr.expander{
    font-size: 0.8em;
}

.vardump table tr.expander td{
    cursor: pointer;
}

.vardump table  > tbody > tr.expander td:before{
    content: '[+] ';
}
.vardump table tr.entries{
    visibility:collapse;
}

.vardump table.expanded > tbody > tr.entries{
    visibility: visible;
}

.vardump table.expanded  > tbody > tr.expander td:before{
    content: '[-] ';
}

.vardump table td{
    vertical-align: top;
    border: 1px dotted #dddddd;
}

.vardump table td.variable{
    color: #000033;
    padding-left: 11px;
    font-size: 0.9em;
}

.vardump table td.static{
    padding-left: 0px;
}

.dump{
    position:relative;
}
.vardump ul.meta{

    padding: 3px;
    margin: 0px;
    right: 0px;
    top: -15px;
    background-color: #dedede;
    color: #545454;
    font-size: 0.6em;
    list-style-type: none;
    display: none;

}
.dump:hovers > ul.meta{
    display: block;
}

.vardump ul.meta li{
    display: inline;
    margin-right: 0.6em;
}


/* Backtrace */
ul.backtrace {
	list-style-type: decimal;
	padding: 0px;
}

ul.backtrace.two-columns {
    width: 78%;
}

ul.backtrace>li {
	margin-bottom: 10px;
	border: 1px solid #ededed;
	padding: 5px;
	background-color: #efefef;
}

ul.backtrace>li:hover {
	border: 1px solid #78a395;
	background-color: #def2de;
}

ul.backtrace>li .function {
	display: block;
	font-weight: bold;
}

ul.backtrace>li .source .file {
    cursor: pointer;
}

ul.backtrace>li .source .code {
    display: none;
}

.arguments .variable{
    cursor: pointer;
}

.arguments .variable:hover{
    color: #78a395;
}

.variable{
    color: #000088;
}
.variable.string{
    color: #880000;
}

ul.backtrace>li .file {
	color: #3467a4;
	font-weight: bold;
}

ul.backtrace>li span.line {
	color: green;
	font-weight: bold;
	padding: 5px;
}

ul.backtrace>li span.line:before {
	content: '(';
}

ul.backtrace>li .line:after {
	content: ')';
}



/* Code */

.code {
	font-family: MonoSpace, "Courier New";
	font-size: 10pt;
	font-weight: bold;
	color: white;
	background-color: #343434;
	padding: 5px;
	margin: 3px;
}

ul.code {
	list-style-type: none;
	padding: 5px;
	margin: 3px;
}

ul.code li {
	border-bottom: 1px solid #404040;
	padding: 2px;
}

ul.code li.info {
	background-color: #652323;
}

/* ui-form ui-installation */
div.ui-form.ui-installation{
	width: 500px;
}

div.ui-form.ui-installation h4{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}
div.ui-form.ui-installation input[type=text], div.ui-form.ui-installation input[type=password]{
	width: 99%;
}

div.ui-form.ui-installation label{
	font-weight: bold;
}

div.ui-form.ui-installation dt{
    margin-bottom: 15px;
}

.ui-form-hint {
    display: block;
    color: gray;
    font-style: italic;
}

.ui-form-error {
    display: block;
    font-weight: bold;
    color: red;
}
